svg {
  width: 2.4rem;
}
.hero {
  height: 90vh;
}
.hero-text {
  h1 {
    font-size: 5rem;
    font-weight: 700;
  }

  p {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 3rem;
  }

  .hero-btn {
    border: none;
    text-transform: uppercase;
  }

  .discover {
    padding: 1rem 2rem;
    color: #000;
    font-weight: 700;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid #2b2b2b;
    border-left: 1px solid #2b2b2b;
    border-right: 0px solid #2b2b2b;
  }
  .shopnow {
    padding: 1.5rem 2rem;
    color: #fff;
    font-weight: 700;
    background-color: #2b2b2b;
  }
}

.content {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 0.1fr 1fr 1fr;
  position: relative;
  height: 100%;

  .hero-image {
    background-color: #ffb566;
    img {
      height: 90vh;
      object-fit: contain;
    }
  }

  .social-media {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      writing-mode: vertical-rl;
      gap: 4rem;

      li {
        a {
          font-size: 1.4rem;
          color: #2c2c2c;
        }
      }
    }
  }
}

.swiper {
  width: 50rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 40rem;
  height: 90vh;
}

.swiper-slide img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .hero {
    height: 100%;
  }
  .content {
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr 1fr;

    .social-media {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .hero-image {
      grid-column: 2/-1;
      grid-row: 1/2;
    }
    .hero-text {
      grid-column: 1/-1;
      grid-row: 2/-1;
    }
  }

  .hero-text {
    h1,
    p {
      width: 100%;
    }
  }
}
